<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="stpaverifier.ui.views.ConfigurationViewPart"
            id="stpaVerifier.Mainview"
            name="Model Checker"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="stpaverifier.ui.views.FormularViewPart"
            id="stpaVerifier.view.formulars"
            name="LTL/CTL"
            restorable="true">
      </view>
      <view
            class="stpaverifier.ui.views.ResultsViewPart"
            id="stpaVerifier.views.result"
            name="Results"
            restorable="true">
      </view>
      <view
            class="stpaverifier.ui.views.CounterexampleViewPart"
            id="stpaVerifier.views.counterexample"
            name="Counterexample"
            restorable="true">
      </view>
      <view
            class="stpaverifier.ui.views.ResultsPieViewPart"
            id="stpaVerifier.views.resultPie"
            name="Results Pie"
            restorable="true">
      </view>
      <view
            class="stpaverifier.ui.views.ResultsDiagViewPart"
            id="stpaVerifier.views.resultDiagramm"
            name="Results Diagram"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="stpaverifier.util.commands.VerficationStartHandler"
            id="stpaVerifier.command.run"
            name="execute check">
         <commandParameter
               id="stpaVerifier.run.method"
               name="verifier method"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="stpaverifier.util.commands.SETUseAllProperties"
            id="stpaVerifier.command.useAllProperties"
            name="set all properties">
         <commandParameter
               id="stpaVerifier.commandParameter.useAllProperties"
               name="shouldUse"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="stpaverifier.util.commands.CheckPropertySyntaxHandler"
            id="stpaVerifier.command.checkPropertySyntax"
            name="Check Syntax">
      </command>
      <command
            defaultHandler="stpaverifier.util.commands.RemovePropertyHandler"
            id="stpaVerifier.command.removeProperty"
            name="Remove">
      </command>
      <command
            defaultHandler="stpaverifier.util.commands.AddLTLPropertyHandler"
            id="stpaVerifier.command.addLTL"
            name="Add LTL">
      </command>
      <command
            id="stpaVerifier.command.addCTL"
            name="Add CTL">
      </command>
      <command
            defaultHandler="stpaverifier.util.commands.OpenLTLProjectHandler"
            id="stpaVerifier.command.openProject"
            name="Import LTL">
      </command>
      <command
            defaultHandler="stpaverifier.util.commands.ClearStatesHandler"
            id="stpaVerifier.command.resetProperties"
            name="Reset all Properties">
      </command>
      <command
            id="stpaVerifier.command.pause"
            name="Pause">
      </command>
      <command
            id="stpaVerifier.command.cancel"
            name="Cancel">
      </command>
      <command
            id="stpaVerifier.command.resume"
            name="Resume">
      </command>
      <command
            defaultHandler="stpaverifier.util.commands.OpenConsoleLog"
            id="stpaVerifier.command.openConsole"
            name="show project log">
      </command>
      <command
            defaultHandler="stpaverifier.util.commands.OpenCloseSTPAVerifier"
            id="stpaVerifier.command.openClose"
            name="open or close the stpa verifier">
         <commandParameter
               id="openCloseDirection"
               name="openCloseDirection"
               optional="true">
         </commandParameter>
         <commandParameter
               id="stpaVerifier.commandParameter.openFile"
               name="openFile"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="stpaVerifier.toolbar1">
            <command
                  commandId="stpaVerifier.command.openClose"
                  icon="icons/nav/to_persp.png"
                  label="Open STPA Verifier"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <not>
                     <with
                           variable="activeWorkbenchWindow.activePerspective">
                        <equals
                              value="stpaVerifier.perspective">
                        </equals>
                     </with>
                  </not>
               </visibleWhen>
               <parameter
                     name="openCloseDirection"
                     value="open">
               </parameter>
            </command>
            <command
                  commandId="stpaVerifier.command.openClose"
                  icon="icons/nav/from_persp.png"
                  label="Close STPA Verifier"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
               <parameter
                     name="openCloseDirection"
                     value="close">
               </parameter>
            </command>
            <command
                  commandId="stpaVerifier.command.resume"
                  icon="icons/nav/restart_task.gif"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="stpaVerifier.command.pause"
                  icon="icons/nav/pause.gif"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="stpaVerifier.command.cancel"
                  icon="icons/nav/nav_stop.gif"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="stpaVerifier.command.run"
                  icon="icons/RunCheck.png"
                  id="modelChecker.run.command"
                  label="Verify"
                  mode="FORCE_TEXT"
                  style="pulldown"
                  tooltip="Run a one by one verification of all selected properties in the LTL/CTL Table in which each propertie verification can be canceled without canceling the whole process">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
               <parameter
                     name="stpaVerifier.run.method"
                     value="OneByOne">
               </parameter>
            </command>
            <separator
                  name="stpaVerifier.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="stpaVerifier.command.useAllProperties"
                  icon="icons/nav/check_all.gif"
                  label="Select All"
                  mode="FORCE_TEXT"
                  style="push">
               <parameter
                     name="stpaVerifier.commandParameter.useAllProperties"
                     value="TRUE">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="stpaVerifier.command.useAllProperties"
                  icon="icons/nav/uncheck_all.gif"
                  label="Deselect All"
                  mode="FORCE_TEXT"
                  style="push">
               <parameter
                     name="stpaVerifier.commandParameter.useAllProperties"
                     value="FALSE">
               </parameter>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="stpaVerifier.command.checkPropertySyntax"
                  icon="icons/nav/check_syntax.gif"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="stpaVerifier.command.removeProperty"
                  icon="icons/nav/remove.png"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="stpaVerifier.command.addLTL"
                  icon="icons/nav/add.png"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="stpaVerifier.command.addCTL"
                  icon="icons/nav/addCTL.png"
                  label="Add CTL"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="stpaVerifier.command.resetProperties"
                  icon="icons/nav/reset.png"
                  label="Reset"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="stpaVerifier.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:modelChecker.run.command">
         <command
               commandId="stpaVerifier.command.run"
               icon="icons/RunCheck.png"
               label="One by One verification"
               style="push"
               tooltip="Run a one by one verification of all selected properties in the LTL/CTL Table in which each propertie verification can be canceled without canceling the whole process">
            <parameter
                  name="stpaVerifier.run.method"
                  value="OneByOne">
            </parameter>
         </command>
         <command
               commandId="stpaVerifier.command.run"
               icon="icons/RunNormalCheck.png"
               label="Normal verification"
               style="push"
               tooltip="Run a normal verification of all selected properties in the LTL/CTL Table in which canceling a propertie verification will cancel the whole process">
            <parameter
                  name="stpaVerifier.run.method"
                  value="normal">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:astpa.explorer">
         <command
               commandId="stpaVerifier.command.openProject"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:stpaVerifier.views.counterexample">
         <command
               commandId="org.eclipse.ui.file.export"
               label="As CSV"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.exportWizard.csv.counterexample">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="As Image"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.export.counterexampleIMG">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="As PDF"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.export.counterexamplePDF">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:stpaVerifier.views.result">
         <command
               commandId="org.eclipse.ui.file.export"
               label="As CSV"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.export.resultsCSV">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="As Image"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.export.resultsIMG">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="As PDF"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.export.resultsPDF">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:stpaVerifier.view.formulars">
         <command
               commandId="org.eclipse.ui.file.export"
               label="As CSV"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.export.propCSV">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="As Image"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.export.propertiesIMG">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               label="As PDF"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.export.propertiesPDF">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView?before=additions">
         <command
               commandId="stpaVerifier.command.openConsole"
               icon="icons/nav/show_log.gif"
               label="Open Log"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:stpaVerifier.views.resultPie">
         <command
               commandId="org.eclipse.ui.file.export"
               label="As Image"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.export.piechart">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:stpaVerifier.views.resultDiagramm">
         <command
               commandId="org.eclipse.ui.file.export"
               label="As Image"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="stpaVerifier.export.digramm">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="stpaverifier.ModelCheckerPerspective"
            icon="icons/STPA_logoC32.png"
            id="stpaVerifier.perspective"
            name="STPA Verifier">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="stpaverifier.ui.editors.promela.PromelaEditor"
            default="false"
            extensions="pml"
            id="stpaVerifier.editor.text.promela"
            name="Promela">
      </editor>
      <editor
            class="stpaverifier.ui.editors.smv.SMVEditor"
            default="false"
            id="stpaVerifier.editor.text.smv"
            name="SMV">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="stpaverifier.controller.preferences.spin.SPINPreferenceInitializor">
      </initializer>
      <initializer
            class="stpaverifier.controller.preferences.STPAVerifierPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="stpaVerifier.import.category"
            class="stpaverifier.ui.ImportLTLDialoge"
            id="stpaVerifier.import.ltl"
            name="Import LTL">
      </wizard>
      <category
            id="stpaVerifier.import.category"
            name="STPA Verifier">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="stpaverifier.util.ModelFileObserver"
            id="stpaverifier.editor.factory">
      </factory>
   </extension>
   <extension
         id="stpaVerifier.syntax.marker"
         name="syntax marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <attribute
            name="description">
      </attribute>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="stpaverifier.annotation.firstAnnotation"
         name="firstAnnotation"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="stpaVerifier.specification"
            colorPreferenceKey="PREF_1_ANNOTATION_COLOR"
            colorPreferenceValue="255,255,0"
            contributesToHeader="false"
            highlightPreferenceKey="PREF_1_ANNOTATION_HIGHLIGHT"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="PREF_1_ANNOTATION_NEXT"
            isGoToPreviousNavigationTargetKey="PREF_1_ANNOTATION_PREV"
            label="first Annotation"
            overviewRulerPreferenceKey="PREF_1_ANNOTATION_OVERVIEW"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="PREF_1_ANNOTATION_ACTION"
            symbolicIcon="warning"
            textPreferenceKey="PREF_1_ANNOTATION_TEXT"
            textPreferenceValue="true"
            textStylePreferenceKey="PREF_1_ANNOTATION_STYLE"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="PREF_1_ANNOTATION_VERTICAL"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="stpaVerifier.syntax.marker"
            name="stpaVerifier.specification"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="stpaVerifier.perspective">
         <perspectiveShortcut
               id="xstampp.defaultPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="xstampp.stpatcgenerator.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="stpaVerifier.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="stpaVerifier.category"
            name="STPA Verifier">
      </category>
      <wizard
            category="stpaVerifier.category"
            class="stpaverifier.ui.wizards.PDFWizardFinal"
            icon="icons/STPA_logo16.png"
            id="stpaVerifier.export.final"
            name="STPA Verifier Report">
      </wizard>
      <category
            id="stpaVerifier.category.csv"
            name="CSV"
            parentCategory="stpaVerifier.category">
      </category>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.csv"
            class="stpaverifier.ui.wizards.CSVWizardofCounterexample"
            icon="icons/CSVExport2.png"
            id="stpaVerifier.exportWizard.csv.counterexample"
            name="Counterexample Export">
      </wizard>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.csv"
            class="stpaverifier.ui.wizards.CSVWizardofResults"
            icon="icons/CSVExport2.png"
            id="stpaVerifier.export.resultsCSV"
            name="Results Export">
      </wizard>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.csv"
            class="stpaverifier.ui.wizards.CSVWizardofProperties"
            icon="icons/CSVExport2.png"
            id="stpaVerifier.export.propCSV"
            name="LTL/CTL Properties">
      </wizard>
      <category
            id="stpaVerifier.category.pdf"
            name="PDF"
            parentCategory="stpaVerifier.category">
      </category>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.pdf"
            class="stpaverifier.ui.wizards.PDFWizardofResults"
            icon="icons/PDFExport.png"
            id="stpaVerifier.export.resultsPDF"
            name="Results Table">
      </wizard>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.pdf"
            class="stpaverifier.ui.wizards.PDFWizardofCounterexamples"
            icon="icons/PDFExport.png"
            id="stpaVerifier.export.counterexamplePDF"
            name="Counterexample">
      </wizard>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.pdf"
            class="stpaverifier.ui.wizards.PDFWizardofProperties"
            icon="icons/PDFExport.png"
            id="stpaVerifier.export.propertiesPDF"
            name="LTL/CTL Table">
      </wizard>
   </extension>
   <extension
         name="stpaVerifier.category.img"
         point="org.eclipse.ui.exportWizards">
      <category
            id="stpaVerifier.category.img"
            name="Images"
            parentCategory="stpaVerifier.category">
      </category>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.img"
            class="stpaverifier.ui.wizards.IMGWizardofCounterexamples"
            icon="icons/IMGExport.png"
            id="stpaVerifier.export.counterexampleIMG"
            name="Counterexample Image">
      </wizard>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.img"
            class="stpaverifier.ui.wizards.IMGWizardofProperties"
            icon="icons/IMGExport.png"
            id="stpaVerifier.export.propertiesIMG"
            name="LTL/CTL Table Image">
      </wizard>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.img"
            class="stpaverifier.ui.wizards.IMGWizardofResults"
            icon="icons/IMGExport.png"
            id="stpaVerifier.export.resultsIMG"
            name="Results Image">
      </wizard>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.img"
            class="stpaverifier.ui.wizards.IMGWizardofPieChart"
            icon="icons/IMGExport.png"
            id="stpaVerifier.export.piechart"
            name="Pie Chart">
      </wizard>
      <wizard
            category="stpaVerifier.category/stpaVerifier.category.img"
            class="stpaverifier.ui.wizards.IMGWizardofResultDiagram"
            icon="icons/IMGExport.png"
            id="stpaVerifier.export.digramm"
            name="Result Diagram">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="stpaverifier.controller.model.STPAVerifierServiceFactory">
         <service
               serviceClass="stpaverifier.controller.IVerifierController"></service>
      </serviceFactory>
      <sourceProvider
            provider="stpaverifier.util.VerificationStateProvider">
         <variable
               name="verifier.run.state"
               priorityLevel="activeContexts">
         </variable>
         <variable
               name="verifier.checker.type"
               priorityLevel="activeContexts">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="stpaverifier.util.commands.VerificationResumeHandler"
            commandId="stpaVerifier.command.resume">
         <enabledWhen>
            <with
                  variable="verifier.run.state">
               <equals
                     value="paused">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="stpaverifier.util.commands.VerificationCancelHandler"
            commandId="stpaVerifier.command.cancel">
         <enabledWhen>
            <with
                  variable="verifier.run.state">
               <or>
                  <equals
                        value="running">
                  </equals>
                  <equals
                        value="paused">
                  </equals>
               </or>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="stpaverifier.util.commands.VerificationPauseHandler"
            commandId="stpaVerifier.command.pause">
         <enabledWhen>
            <with
                  variable="verifier.run.state">
               <equals
                     value="running">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="stpaverifier.util.commands.AddCTLPropertyHandler"
            commandId="stpaVerifier.command.addCTL">
         <enabledWhen>
            <with
                  variable="verifier.checker.type">
               <equals
                     value="NuSMV">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
